.mk-main-footer {
    border-top: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
    font-size: var(--mk--FontSize--xs);
    padding: var(--mk--spacer--lg) var(--mk--spacer--md);
}

.mk-cncf-footer {
    width: 80%;
    float: left ;
    @media(max-width: $mk--breakpoint--md){
    width: 100%;
    }
}

.mk-icons-footer {
    width: 20%;
    float: right;
    text-align: right;
    top: 50%;
    @media(max-width: $mk--breakpoint--md){
        display: flex;
        width: 100%;
    }
}
#cncf-image{
    width: 40%;
    height: 40%;
}
.fa-lg {
    font-size:60px ;
    padding:5px ;
}
