.mk-main-footer {
    border-top: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
    font-size: var(--mk--FontSize--xs);
    padding: var(--mk--spacer--lg) var(--mk--spacer--md);
}

.mk-cncf-footer {
    width: 80%;
    float: left ;
}

.mk-icons-footer {
    width: 20%;
    float: right;
    text-align: right;
    top: 50%;
}

.fa-lg {
    font-size:60px ;
    padding:5px ;
}
