.mk-button {
    font-size: var(--mk--FontSize--md);
    border-radius: var(--mk--BorderRadius--lg);
    padding: var(--mk--spacer--xs) var(--mk--spacer--sm);
    line-height: var(--mk--LineHeight--lg);
    font-weight: normal;
    display: inline-block;
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
    &--primary {
        background: var(--mk--BackgroundColor--100);
        color: var(--mk--Color--400);
        &:hover, &:active, &:focus {
            background: var(--mk--BackgroundColor--150);
            transform: scale(1.025);
        }
    }

    &--secondary {
        background: transparent;
        color: var(--mk--Color--500);
        box-shadow: 0px 0px 0px var(--mk--BorderWidth--sm) var(--mk--BorderColor--150);
        &:hover, &:active, &:focus {
            border-color: transparent;
            color: var(--mk--Color--600);
            box-shadow: 0px 0px 0px var(--mk--BorderWidth--md) var(--mk--BorderColor--150);
        }
    }
    &--link {
        color: var(--mk--Color--500);
        margin-top: var(--mk--spacer--sm);
        padding-left: 0;
        &:after{
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat;
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-left: var(--mk--spacer--sm);
        }
        &:hover, &:active, &:focus {
            color: var(--mk--Color--400);
            text-decoration: none;
            &:after {
                left: calc(var(--mk--spacer--sm) * 1.25);
            }
        }
    }

}

.mk-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "aside"
    "content";

    @media (min-width: $mk--breakpoint--lg){
        grid-template-areas:
        "content aside"
    }
    @media (max-width: $mk--breakpoint--md){
        display: block;
    }
    &__content {
        grid-area: content;
        // overflow-x: scroll;
    }
    &__section {
        background: var(--mk--BackgroundColor--250);
        padding: var(--mk--spacer--sm);
        border: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        @media (min-width: $mk--breakpoint--lg){
            padding: var(--mk--spacer--md);
        }
    }
    &__section {
        margin: var(--mk--spacer--xs) var(--mk--spacer--sm);
            &:first-of-type {
                margin-top: var(--mk--spacer--sm);
            }
            &:last-of-type {
                margin-bottom: var(--mk--spacer--sm);
            }
            @media (min-width: $mk--breakpoint--2xl){
                margin:var(--mk--spacer--md) var(--mk--spacer--lg);
                &:first-of-type {
                    margin-top: var(--mk--spacer--lg);
                }
                &:last-of-type {
                    margin-bottom: var(--mk--spacer--lg);
                }
            }
            @media (min-width: $mk--breakpoint--lg){
                margin:var(--mk--spacer--xs) var(--mk--spacer--md);
                &:first-of-type {
                    margin-top: var(--mk--spacer--md);
                }
                &:last-of-type {
                    margin-bottom: var(--mk--spacer--md);
                }
            }
    }
    &__section__content {
        overflow-x: auto;
        .mk-heading {
            margin-bottom: var(--mk--spacer--sm);
        }

        p{
            margin: var(--mk--spacer--xs) 0;
        }

        ul, ol {
            margin-left: var(--mk--spacer--sm);
            &:not(:only-child){
                margin-bottom: var(--mk--spacer--sm);
            }
        }
        ul {
            list-style: disc;
        }
        h1,h2,h3,h4,h5,h6 {
            color: var(--mk--Color--400);
            font-weight: var(--mk--FontWeight--200);
            margin-bottom: var(--mk--spacer--sm);

        }
        h2,h3,h4,h5,h6 {
            &:not(:first-child) {
                margin-top: var(--mk--spacer--sm);
            }
        }
        h2 {
            border-left: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
            padding-left: var(--mk--spacer--sm);
            font-size: var(--mk--FontSize--md);
            &:not(:first-child) {
                margin-top: var(--mk--spacer--md);
            }
        }

        h3 {
            font-size: var(--mk--FontSize--lg);
        }
        .footnotes {
            padding-top: var(--mk--spacer--sm);
            margin-top: var(--mk--spacer--sm);
            border-top: var(--mk--BorderWidth--lg) solid var(--mk--BackgroundColor--350);
        }
        .highlight span {
            color: var(--mk--color-brand--400);
        }
        & > blockquote {
            padding-left: var(--mk--spacer--sm);
            border-left: var(--mk--BorderWidth--lg) solid var(--mk--BackgroundColor--350);
        }
        .highlighter-rouge {
            overflow-x: auto;
        }
        table {
            width: 100%;
            th, td {
                padding: var(--mk--spacer--xs) var(--mk--spacer--sm);
            }
            tbody tr:nth-of-type(odd) {
                background-color: var(--mk--BackgroundColor--350);
            }
        }
    }
}

.mk-main__header {
    margin-bottom: var(--mk--spacer--md);
}

.mk-social-list {
    margin-left: var(--mk--spacer--md);
    li{
        margin-bottom: var(--mk--spacer--sm);
    }
    svg{
        width:16px;
        margin-right: var(--mk--spacer--sm);
        path {fill: var(--mk--color-brand--400);}
    }
}

p > code {
    background: var(--mk--BackgroundColor--350);
    padding:1px var(--mk--spacer--xs);
}

pre{
    background: var(--mk--BackgroundColor--350);
    padding: var(--mk--spacer--xs);
    margin: var(--mk--spacer--sm) 0;
    display: inline-block;
    min-width: 100%;
}


.mk-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--mk--spacer--md);

    box-shadow: var(--mk--BoxShadow--top);
    &__page, &__num {
        padding: var(--mk--spacer--xs) var(--mk--spacer--sm);
        &:not(:first-child){
            margin-left: var(--mk--spacer--sm);
        }
    }
    &__page {
        border:var(--mk--BorderWidth--sm) solid transparent;
        border-radius: var(--mk--BorderRadius--md);
        width: 45px;
        height: 44px;
        display: inline-flex;
       svg {
        width: 14px;
        path {
           fill :var(--mk--color-brand--400);
        }
       }
        &:hover {
        border: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--200);
       }

    }
    &__num {
        border: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--200);
        border-radius: var(--mk--BorderRadius--md);
        &--current, &:hover {
            background: var(--mk--BackgroundColor--175);
            color: var(--mk--color-white--100);
            text-decoration: none;
        }

    }

}


pre .hll { background-color: #ffffcc }
pre  { background: #f0f0f0; }
pre .c { color: #60a0b0; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { color: #007020; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020 } /* Comment.Preproc */
pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { color: #40a070 } /* Literal.Number */
pre .s { color: #4070a0 } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #007020 } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #40a070 } /* Literal.Number.Bin */
pre .mf { color: #40a070 } /* Literal.Number.Float */
pre .mh { color: #40a070 } /* Literal.Number.Hex */
pre .mi { color: #40a070 } /* Literal.Number.Integer */
pre .mo { color: #40a070 } /* Literal.Number.Oct */
pre .sa { color: #4070a0 } /* Literal.String.Affix */
pre .sb { color: #4070a0 } /* Literal.String.Backtick */
pre .sc { color: #4070a0 } /* Literal.String.Char */
pre .dl { color: #4070a0 } /* Literal.String.Delimiter */
pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
pre .s2 { color: #4070a0 } /* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { color: #4070a0 } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
pre .fm { color: #06287e } /* Name.Function.Magic */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .vm { color: #bb60d5 } /* Name.Variable.Magic */
pre .il { color: #40a070 } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #ffffcc }
.syntax pre  { background: #f0f0f0; }
.syntax pre .c { color: #60a0b0; font-style: italic } /* Comment */
.syntax pre .err { border: 1px solid #FF0000 } /* Error */
.syntax pre .k { color: #007020; font-weight: bold } /* Keyword */
.syntax pre .o { color: #666666 } /* Operator */
.syntax pre .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.syntax pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.syntax pre .cp { color: #007020 } /* Comment.Preproc */
.syntax pre .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.syntax pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.syntax pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.syntax pre .gd { color: #A00000 } /* Generic.Deleted */
.syntax pre .ge { font-style: italic } /* Generic.Emph */
.syntax pre .gr { color: #FF0000 } /* Generic.Error */
.syntax pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.syntax pre .gi { color: #00A000 } /* Generic.Inserted */
.syntax pre .go { color: #888888 } /* Generic.Output */
.syntax pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.syntax pre .gs { font-weight: bold } /* Generic.Strong */
.syntax pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.syntax pre .gt { color: #0044DD } /* Generic.Traceback */
.syntax pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.syntax pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.syntax pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.syntax pre .kp { color: #007020 } /* Keyword.Pseudo */
.syntax pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.syntax pre .kt { color: #902000 } /* Keyword.Type */
.syntax pre .m { color: #40a070 } /* Literal.Number */
.syntax pre .s { color: #4070a0 } /* Literal.String */
.syntax pre .na { color: #4070a0 } /* Name.Attribute */
.syntax pre .nb { color: #007020 } /* Name.Builtin */
.syntax pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.syntax pre .no { color: #60add5 } /* Name.Constant */
.syntax pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.syntax pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.syntax pre .ne { color: #007020 } /* Name.Exception */
.syntax pre .nf { color: #06287e } /* Name.Function */
.syntax pre .nl { color: #002070; font-weight: bold } /* Name.Label */
.syntax pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.syntax pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
.syntax pre .nv { color: #bb60d5 } /* Name.Variable */
.syntax pre .ow { color: #007020; font-weight: bold } /* Operator.Word */
.syntax pre .w { color: #bbbbbb } /* Text.Whitespace */
.syntax pre .mb { color: #40a070 } /* Literal.Number.Bin */
.syntax pre .mf { color: #40a070 } /* Literal.Number.Float */
.syntax pre .mh { color: #40a070 } /* Literal.Number.Hex */
.syntax pre .mi { color: #40a070 } /* Literal.Number.Integer */
.syntax pre .mo { color: #40a070 } /* Literal.Number.Oct */
.syntax pre .sa { color: #4070a0 } /* Literal.String.Affix */
.syntax pre .sb { color: #4070a0 } /* Literal.String.Backtick */
.syntax pre .sc { color: #4070a0 } /* Literal.String.Char */
.syntax pre .dl { color: #4070a0 } /* Literal.String.Delimiter */
.syntax pre .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.syntax pre .s2 { color: #4070a0 } /* Literal.String.Double */
.syntax pre .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.syntax pre .sh { color: #4070a0 } /* Literal.String.Heredoc */
.syntax pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.syntax pre .sx { color: #c65d09 } /* Literal.String.Other */
.syntax pre .sr { color: #235388 } /* Literal.String.Regex */
.syntax pre .s1 { color: #4070a0 } /* Literal.String.Single */
.syntax pre .ss { color: #517918 } /* Literal.String.Symbol */
.syntax pre .bp { color: #007020 } /* Name.Builtin.Pseudo */
.syntax pre .fm { color: #06287e } /* Name.Function.Magic */
.syntax pre .vc { color: #bb60d5 } /* Name.Variable.Class */
.syntax pre .vg { color: #bb60d5 } /* Name.Variable.Global */
.syntax pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
.syntax pre .vm { color: #bb60d5 } /* Name.Variable.Magic */
.syntax pre .il { color: #40a070 } /* Literal.Number.Integer.Long */
