@mixin flexCenter($j-content: center, $direction: row, $a-items: center) {
  display: flex;
  align-items: $a-items;
  justify-content: $j-content;
  flex-direction: $direction;
}
.mk-masthead {
  &.mk-masthead--home, &.mk-masthead--sub {
    background-size: cover;
    background-position: 0vw center;
    background-image: url("/assets/images/hero.svg");
    background-repeat: no-repeat;
  }
  &.mk-masthead--home {
    background-color: var(--mk--BackgroundColor--500);
    border-bottom: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
  }

  &.mk-masthead--sub {
    background-color: var(--mk--BackgroundColor--200);
    box-shadow: var(--mk--BoxShadow--sm);

  }

  @media (min-width: $mk--breakpoint--lg){
    &.mk-masthead--home, &.mk-masthead--sub {
      background-position: 30vw center;
    }
  }
  &__content {
    padding: var(--mk--spacer--lg) var(--mk--spacer--sm);

    @media (min-width: $mk--breakpoint--md){
      padding: var(--mk--spacer--2xl) var(--mk--spacer--lg);
    }

    &__title {
      color: var(--mk--Color--300);
      font-weight: var(--mk--FontWeight--100);
      font-size: var(--mk--FontSize--3xl);
      sup {
        margin-left: var(--mk--spacer--xs);
        font-size: var(--mk--FontSize--xl);
        position: relative;
        top: -14px;
      }
    }
    &__sub-title {
      color: var(--mk--Color--100);
      margin-top: var(--mk--spacer--xs);
      font-size: var(--mk--FontSize--lg);
    }
    .mk-button {
      margin-top: var(--mk--spacer--md);
      @media (min-width: $mk--breakpoint--md){
        margin-top: var(--mk--spacer--lg);
      }
    }
  }/* content */
  &__content--sub {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    @media (min-width: $mk--breakpoint--md){
      padding: var(--mk--spacer--xl) var(--mk--spacer--lg);
    }
    &__title {
      font-size: var(--mk--FontSize--2xl);
    }
    &__text {

      max-width: 915px;
      font-size: var(--mk--FontSize--md);
      &:not(:last-child) {
        margin-bottom: var(--mk--spacer--md);
        @media (min-width: $mk--breakpoint--md){
          margin-bottom: var(--mk--spacer--lg);
        }
      }
    }
    .mk-button:first-of-type {
      margin-right: var(--mk--spacer--sm);
    }
  }
}
.mk-search-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @media (max-width:$mk--breakpoint--md){
  justify-content: center;
}
 }
.docs-search--input {
  outline: none;
}
.mk-search-form button {
  background: transparent !important;
  border: none;
}
.mk-mobile-inputs {
  display: none;
  @media (max-width: $mk--breakpoint--md) {
    display: block;
  }
}
.mk-main-header {
  @include flexCenter($j-content: space-between);
  position: fixed;
  width: 100%;
  z-index: 2;
  grid-template-rows: auto auto;
  grid-template-areas: "brand"
  "nav";
  background: var(--mk--color-transparent-background--100);
  padding-top: var(--mk--spacer--xs);

  @media (min-width: $mk--breakpoint--lg) {
    grid-template-areas: "brand nav";
    padding-bottom: var(--mk--spacer--sm);
  }
  @media (max-width: $mk--breakpoint--md) {
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.mk-main-header__brand {
  grid-area: brand;
  height: 50px;
  width: 20%;
  margin: 0 0 var(--mk--spacer--md) var(--mk--spacer--sm);
  svg {
    max-height: rem(60);
    max-width: rem(60);
  }
  @media (max-width: $mk--breakpoint--md) {
    margin: 0 0 var(--mk--spacer--sm) var(--mk--spacer--sm);
  }
  @media (min-width: $mk--breakpoint--lg) {
    margin: 0 0 0 var(--mk--spacer--lg);
  }
}

.mk-main-header__toggle {
  background: none;
  border: none;
  align-self: flex-end;
  margin-right: var(--mk--spacer--sm);
  margin-top: -90px;
  @media (max-width: $mk--breakpoint--md) {
    margin-top: 10px;
  }
  svg {
    max-width: rem(40);
    width: 100%;
    path {
      fill: var(--mk--BackgroundColor--300);
    }
  }
  &:hover, &:active, &:focus {
    opacity: .5;
  }
  @media (min-width: $mk--breakpoint--lg){
    display: none;
  }
  &-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  }
}
.mk-main-header__inputs {
  @include flexCenter($j-content: end);
  width: 30%;
  margin-right: var(--mk--spacer--md);
  @media (max-width: $mk--breakpoint--md) {
    display: none;
  }
}
.mk-main-header__nav-wrapper {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  @media (min-width: $mk--breakpoint--lg){
    justify-content: center;
  }
  &.mx-m-toggle {
    margin-bottom: var(--mk--spacer--md);
    .mk-main-nav {
      display: none;
      @media (min-width: $mk--breakpoint--lg){
        display: flex;
      }
    }
  }
}

.mk-main-nav {
  text-align: center;
  display: none;
  flex-direction: column;
  grid-area: nav-list;
  padding-bottom: var(--mk--spacer--md);
  transition: var(--mk--animation);
  border-bottom: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--100);

  @media (min-width: $mk--breakpoint--md){
    flex-direction: row;
    justify-content: space-evenly;
  }
  @media (max-width: $mk--breakpoint--md) {
    width: 100%;
  }
  @media (min-width: $mk--breakpoint--lg){
    justify-content: flex-end;
    align-items: center;
    border: none;
    gap: var(--mk--spacer--lg);
    padding: 0;
    display: flex;

  }
  &.is-active {
    display: flex;
  }

  &__item {
    display: inline-block;
    color: var(--mk--Color--200);
    font-size: var(--mk--FontSize--md);
    margin-top: var(--mk--spacer--md);
    margin-bottom: var(--mk--spacer--md);

    &:hover, &:focus, &:active, .active & {
      color: var(--mk--Color--300);
      text-decoration: none;
    }
    @media (min-width: $mk--breakpoint--lg){
      margin: 0;
    }
  }
}
