
.mk-community-callout {
    padding: var(--mk--spacer--md) var(--mk--spacer--sm);
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--mk--BoxShadow--sm);
    @media (min-width: $mk--breakpoint--md){
        padding: var(--mk--spacer--lg) var(--mk--spacer--lg);
    }
    &__content {
        margin: var(--mk--spacer--md) auto;
        max-width: 990px;
    }
    &__images {  
        @media (min-width: $mk--breakpoint--md){
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: var(--mk--spacer--lg);
            max-width: 1000px;
            margin: 0 auto; 
        }
        img:last-child {
            display: none;
            @media (min-width: $mk--breakpoint--md){
                display: block;
                margin-left: var(--mk--spacer--md);
            }
        }
    }
} //community callout



.mk-why-metalkubed {
    margin-bottom: 0;

    p {
        margin-bottom: var(--mk--spacer--sm);
    }
}

.mk-faqs {
    &__list {
        background: var(--mk--BackgroundColor--200);
    }
    &__question, &__question:after {
        transition: var(--mk--animation);   
    }
    &__question {
        width: 100%;
        text-align: left; 
        display: flex;
        justify-content: space-between;
        // color: var(--mk--Color--300);
        border: none;
        border-top: var(--mk--BorderWidth--sm) solid var(--mk--BorderColor--300);
        background: none;
        
        &:after {
            content:'';
            width: 0;
            height: 0;
            margin-top: var(--mk--spacer--xs);
            margin-left: var(--mk--spacer--sm);
            border-top: 8px solid transparent;
            border-left: 10px solid var(--mk--BackgroundColor--100);
            border-bottom: 8px solid transparent;
            border-left-color: var(--mk--BackgroundColor--400); 

        }
        &[aria-expanded="true"]{
            color: var(--mk--Color--400);
            &:after {
                transform: rotate(90deg);
                border-left-color: var(--mk--BackgroundColor--100);
            }
        }
        &focus:not(:focus-visible) {
            outline: none;
        }
        
    }
    &__answer {
        max-height: 0vh;
        position: relative;
        z-index: 1;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        &[aria-hidden="false"] {
            max-height: 100vh;
            overflow: auto;
            visibility: visible;
            opacity: 1;
        }
    }
    &__question, &__answer {
        padding: var(--mk--spacer--sm);
        border-left: var(--mk--BorderWidth--lg) solid transparent;
        @media ($mk--breakpoint--md) {
            padding: var(--mk--spacer--md) var(--mk--spacer--sm);
        }
    }
    &__question[aria-expanded="true"], &__answer[aria-hidden="false"] {
        border-left: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
    }
}

.mk-blog-meta {
    &__preview {
        border-left: none;
        border-right: none;
        @media (max-width: $mk--breakpoint--lg) {
            padding-right: 0;
        }
        @media (min-width: $mk--breakpoint--md) and (max-width: $mk--breakpoint--lg) {
            grid-template-columns: 1fr 3fr;
            grid-gap: var(--mk--spacer--sm);
            display: grid;
        }
    &__scroll-wrapper {
        display: flex;
        width: calc(100vw - var(--mk--spacer--sm));
        overflow: scroll;
        position: relative;
        -webkit-overflow-scrolling: touch;
        
        @media (min-width: $mk--breakpoint--md) {
            width: auto;
        }
        @media (min-width: $mk--breakpoint--lg) {
            overflow: visible;
            flex-wrap: wrap;
        }
        }
    }/*preview*/
        
    &__snippet {
        display: block;
        min-width: max-content;
        max-width: 450px;
        margin-right: var(--mk--spacer--sm);
        color: var(--mk--Color--100);
        padding: var(--mk--spacer--md);
        background: var(--mk--color-transparent-background--100);
        @media (min-width: $mk--breakpoint--lg){
            min-width:100%;
            &:not(:last-of-type) {
                margin-bottom: var(--mk--spacer--md);
                margin-right: 0;
            }
            width: 100%;
        }
        // @media (min-width: $mk--breakpoint--md) {
        //     padding: var(--mk--spacer--sm);
        // }
        &:hover, &:active, &:focus {
            text-decoration: none;
            background: var(--mk--BackgroundColor--400);
        }
    }/*item*/
    &__item {
        display: flex;
        align-items: center;
        margin: var(--mk--spacer--xs) 0;

        &:before {
            content:'';
            background: url("/assets/images/sprite.svg") no-repeat ;
            width: 23px;
            height: 18px;
            display: inline-block;
            margin-right: var(--mk--spacer--xs);
        }
    }
    &__timestamp {
        &--dark:before {
            background-position:-20px 1px;
        }
        &--light:before {
           background-position:-37px 0;
       }
    }
    &__author {
        &:before {
            background-position: -60px 0;
        }
    }
    &__category {
        background: var(--mk--BackgroundColor--200);
        box-shadow: var(--mk--BoxShadow--sm);
        padding: 0 var(--mk--spacer--xs);
        position: relative;
        max-width: max-content;
        border-radius: var(--mk-borderRadius--dm);
        margin-bottom: var(--mk--spacer--sm);
        &:hover, &:active, &:focus {
            text-decoration: none;
            opacity:.75;
        }
        &:before {
            background-position:-85px 0;
            width: 15px;
        }

    }
    
}
