//type
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,400&display=swap');
.mk-heading{
    color: var(--mk--Color--400);
    font-weight: var(--mk--FontWeight--200);
    &.mk-m-border {
        border-left: var(--mk--BorderWidth--lg) solid var(--mk--BorderColor--100);
        padding-left: var(--mk--spacer--sm);
    }
}

.mk-heading--xs {
    font-size: var(--mk--FontSize--xs);
}
.mk-heading--sm {
    font-size: var(--mk--FontSize--sm);
}
.mk-heading--md {
    font-size: var(--mk--FontSize--md);
}
.mk-heading--lg {
    font-size: var(--mk--FontSize--lg);
}
.mk-heading--xl {
    font-size: var(--mk--FontSize--xl);
}
.mk-heading--2xl {
    font-size: var(--mk--FontSize--2xl);
}