name: Deploy via Jekyll on GitHub pages

on:
  push:
    branches:
    - source
  schedule:
  - cron: '0 0 * * *'

# TODO: permissions defined

jobs:
  jekyll:
    runs-on: ubuntu-latest

    if: github.repository == 'metal3-io/metal3-io.github.io'
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - uses: iranzo/gh-pages-jekyll-action@d27999d323a83e1989f4b62f5176f0b4736066d3 # 1.0.2
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        SOURCE_FOLDER: ./
        GH_PAGES_BRANCH: master
