name: Deploy via Jekyll on GitHub pages

on:
  push:
    branches:
    - source
  schedule:
  - cron: '0 0 * * *'

# TODO: permissions defined

jobs:
  jekyll:
    runs-on: ubuntu-latest

    if: github.repository == 'metal3-io/metal3-io.github.io'
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - uses: iranzo/gh-pages-jekyll-action@d27999d323a83e1989f4b62f5176f0b4736066d3 # 1.0.2
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        SOURCE_FOLDER: ./
        GH_PAGES_BRANCH: master
